h1 {
    font-size: 250%;
    font-weight: bolder;
    text-align: center;
}

.gemsImagesRow::after {
    content: "";
    display: block;
    clear: both;
}

.gemsToClick {
    height: 100%;

}

#gameBoard {
    background-color: aquamarine;
    padding: 20px;
}

.scoreBoardTile {
    margin: 10px;
    background-color: white;
    padding: 10px;
}

.numberTitle {
    padding-right: 5px;
    font-weight: bold;
    text-align: right;
}

.numberHeader {
    margin: 5px;
    margin-top: 10px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.numberNumber {
    padding: 2px;
    background-color: white;
}

#userGameArea {
    background-color: white;
}