body {
    background-color: red;
}

h1 {
    font-size: 250%;
    font-weight: bolder;
}

p {
    margin: 5px;
    color: purple;
}

.gemsImagesRow::after {
    content: "";
    display: block;
    clear: both;
}

.gemsToClick {
    float: left;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    border: 10px dashed silver ;
    background-color: aqua;
    color: orange;
}